body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.board {
    width: 720px;
    height: 720px;
    background-color: yellow;
    background-size: 720px 720px;



}

.none {
  display: none;
}

.board-squares {
  width: 90;
  height: 90;
  background-color: blue;
  position: absolute;
}

.victory {
  position: fixed;
  left:0px;
  top:0px;
  animation: victory-animation 5s linear 1s 10 alternate;
  font-size: 10em;
  display: inline;

}

@-webkit-keyframes victory-animation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:400px;}
    75%  {background-color:green; left:0px; top:400px;}
    100% {background-color:red; left:0px; top:0px;}
}


.piece {
  position: absolute;
  background-size: 80px;
  border: 0px solid black;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  font-size: 4em;
  text-align: center;
  transition: top 1s, left 1s;

}
.piece-red {
  color: black;
  background-color: red;

}

.piece-black {
  background-color: black;
  color: white;
}



.usersTable {
  background-color: green;
  width: 200px;
  height: 600px;
  display: inline-block;
  border-style: inset;
  border-width: 7px;
  border-spacing: 15px;
  padding: 25px;

  left: 450px;

}
