.messageBoard {
  background-color: grey;
  width: 300px;
  height: 600px;
  
  display: inline-block;


}

.post {
  font-size: 2em;
  text-decoration-color: red;

}

.usersTable {
  background-color: green;
  width: 200px;
  height: 600px;
  display: inline-block;
}
